<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="debit" class="com.paradise.beans.DebitCardPayment"/>
<bean id="credit" class="com.paradise.beans.CreditCardPayment"/>
<bean id="paymentCtx" class="com.paradise.beans.PaymentContext">
<property name="payment" ref="debit"/>
</bean>

</beans>
