<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- dependent bean 1 -->
	<bean id="course" class="com.nit.beans.Course">
		<property name="courseId" value="101" /> 
		<property name="courseName" value="JAVA" />
			 <property name="courseFee" value="2000" />
<!-- 
		<constructor-arg name="courseId" value="101" />
		<constructor-arg name="courseName" value="JAVA" />

		<constructor-arg name="courseFee" value="2000"></constructor-arg> -->

	</bean>

	<!-- dependent bean 2 -->
	<!-- <bean id="course2" class="com.nit.beans.Course"> <property name="courseId" 
		value="102" /> <property name="courseName" value="ORACLE" /> <property name="courseFee" 
		value="2000" /> <constructor-arg name="courseId" value="101"/> <constructor-arg 
		name="courseName" value="JAVA"/> <constructor-arg name="courseFee" value="2000"></constructor-arg> 
		</bean> -->
	<!-- Target bean -->
	 <bean id="institute" class="com.nit.beans.Institute" autowire="constructor"> 
		<property name="instituteId" value="1716"/> <property name="instituteName" 
		value="NARESH-IT"/> <property name="buildings"> <set> <value>A1</value><value>A2</value> 
		</set> </property> <property name="branches"> <set> <value>HYD</value><value>CHENNAI</value><value>VIZAG</value> 
		</set> </property> <property name="faculty"> <set> <value>ASHOK</value> <value>NATARAJ</value> 
		<value>HK</value> </set> </property> <!-- <property name="course" ref="course"></property>  -->
		</bean> 


	<!-- target bean -->
	<!-- <bean id="institute" class="com.nit.beans.Institute"
		autowire="byName">
		<constructor-arg name="instituteId" value="101" />
		<constructor-arg name="instituteName"
			value="naresh it" />
		<constructor-arg name="buildings">
			<set>
				<value>A1</value>
				<value>A2</value>
			</set>
		</constructor-arg>
		<constructor-arg name="branches">
			<set>
				<value>HYD</value>
				<value>CHENNAI</value>
			</set>
		</constructor-arg>

		<constructor-arg name="faculty">
			<set>
				<value>ASHOK</value>
				<value>NATARAj</value>
				<value>HK</value>
			</set>
		</constructor-arg>
		<constructor-arg name="course" ref="course" ></constructor-arg>
	</bean> -->
</beans>
