<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Dependent bean -->
<bean id="t" class="com.airtel.beans.Token" scope="prototype"></bean>

<!-- Target Object -->
<!-- <bean id="tg" class="com.airtel.beans.TokenGenerator">
<property name="token" ref="t"></property>
</bean> -->

<!-- Target Object  using look up method concept -->
 <bean id="tg" class="com.airtel.beans.TokenGenerator">
<lookup-method name="getToken" bean="t"></lookup-method>
</bean> 
</beans>
