<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="car" class="com.maruthi.beans.Car" >
<constructor-arg name="carId" value="101"/>
<constructor-arg name="carName" value="maruthi"/>
<constructor-arg name="carPrice" value="850000"/>
<constructor-arg name="colour" value="red"/>


<!--for null value injection we have to specify null tag between constructor arg  -->

<constructor-arg name="carRegistration" >
<null/>
</constructor-arg>



</bean>




</beans>
