<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="pm" class="com.apa.beans.PrintMsg" init-method="init"
		destroy-method="destroy">
		<property name="name" value="apa"></property>
	</bean>
	
	<bean id="bpp" class="com.apa.beans.MyBeanProcessor">
	  
	</bean>

</beans>
